@import "./_variables.scss";

/***************Common Generic Class Section Starts************/

.overlay-fade-in {
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    background: $color-fade-in-background;
    height: 100%;
    z-index: 9999;
    .fade-in-screen {
        color: $color-primary-button-text;
        font-size: $font-size-large;
        position: absolute;
        height: 100%;
        z-index: 9999;
        top: 40%;
        width: 100%;
        .btn-default {
            background: none;
            color: $color-primary-button-text;
            font-size: $font-size-medium-2;
            padding-left: 15px;
            padding-right: 15px;
            height: 40px;
            width: auto;
        }
    }
}

.disable-control {
    opacity: 0.35;
    pointer-events: none;
}

.info-icon {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.r-btn {
    border: 1px solid $color-primary-border;
    background: $color-primary-background;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    padding-left: 4px;
    padding-top: 4px;
    span {
        pointer-events: none;
    }
    span.r-icon {
        display: none;
    }
    .svg-common-universal-icon-checkmark-blue {
        height: 15px;
        width: 16px;
        font-size: $font-size-medium-2;
    }
}

.r-value {
    font-size: $font-size-medium-2;
    color: $color-secondary-text;
    display: inline-block;
    padding-left: 10px;
    line-height: 27px;
}

.plus-icon-container {
    width: 21px;
    .svg-common-universal-icon-add {
        margin-right: 5px;
    }
}

a, a:hover, a:focus {
    color: $color-primary-link;
}

.ellipsis-container {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.show-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.btn-border {
    border-color: $color-primary-border;
    padding: 3px 40px;
    span {
        font-size: $font-size-medium-2;
    }
}

.btn-delete {
    @extend .btn-border;
    display: block;
    border-color: $color-error-border;
    color: $color-error-text;
}

.lnk-default {
    font-size: $font-size-large;
    display: inline-block;
}

.lnk-detail {
    font-size: $font-size-large;
    color: $color-primary-text;
}

.text-info {
    font-size: $font-size-medium-2;
    color: $color-secondary-text;
}

.text-default {
    font-size: $font-size-small-2;
    color: $color-secondary-text;
}

.text-error {
    color: $color-error-text;
    font-size: $font-size-medium-2;
}

.text-semi-bold {
    font-weight: $font-weight-semi-bold;
}

.text-bold {
    font-weight: $font-weight-bold;
}

.text-warning {
    color: $color-warning-text;
    font-size: $font-size-large;
}

.sub-title {
    font-size: $font-size-large;
    text-align: left;
    color: $color-primary-text;
}

.sub-title-container{
    width: 100%;
}

.controlling-devices {
    font-size: $font-size-medium-2;
    color: $color-secondary-text;
    width: 100%;
}

.msg-row {
    width: 100%;
    float: left;
    display: block;
    margin: 0;
    padding: 10px 20px;
    height: auto;
    font-size: $font-size-large;
    color: $color-primary-text;
    min-height: 30px;
    line-height: 20px;
}

.component-space-container {
    height: 20px;
    width: 100%;
    float: left;
}

.row-space-container {
    height: 10px;
    width: 100%;
    float: left;
}

.menu-item {
    font-size: $font-size-large;
    color: $color-primary-text;
    font-weight: $font-weight-medium;
}

.sub-section {
    background: $color-primary-background;
    display: block;
    width: 100%;
    float: left;
}

.fixture-title {
    width: 100%;
    font-size: $font-size-large;
    color: $color-primary-text;
}

.space-container {
    min-height: 40px;
    float: left;
    width: 100%;
}

.line-separator {
    width: 100%;
    float: left;
    .line-separator-content {
        background: $color-primary-border;
        height: 1px
    }
    .line-separator-content-inner {
        background: $color-primary-border;
        height: 1px;
        margin-left: 20px;
    }
}

.primary-text-light {
    color: $color-primary-text-opaque;
    font-size: $font-size-small-1;
}

.inline-item {
    display: inline-block;
    vertical-align: middle;
}


/************ CIRCULAR CHECKBOX Section Starts*****************/

.checkbox-circle {
    width: 20px;
    margin-top: -3px;
    position: absolute;
    label {
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 21px;
        top: 0;
        border-radius: 24px;
        -webkit-box-shadow: inset 0px 1px 1px $color-primary-background, 0px 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 1px 1px $color-primary-background, 0px 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 1px 1px $color-primary-background, 0px 1px 3px rgba(0, 0, 0, 0.5);
        background: $color-primary-background;
        filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0)";
        &:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 12px;
            height: 8px;
            background: transparent;
            top: 6px;
            left: 4px;
            border: 3px solid $color-primary-border;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
        }
    }
    input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
}


/************ CIRCULAR CHECKBOX Section Ends*****************/


/************ Toggle button Section Starts*****************/

.togglebutton {
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    user-select: none;
    label, input, .toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    label {
        font-weight: $font-weight-regular;
        cursor: pointer;
        input[type=checkbox] {
            opacity: 0;
            position: absolute;
            width: 70px;
            height: 24px;
            right: 0px;
            top: 8px;
            z-index: 999;
        }
        .toggle::after {
            background-color: $color-toggle-nob-background;
            border-radius: 20px;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
            content: "";
            display: inline-block;
            height: 28px;
            left: 1px;
            position: relative;
            top: -5px;
            transition: left 0.3s ease 0s, background 0.3s ease 0s, box-shadow 0.1s ease 0s;
            width: 28px;
        }
    }
}

.togglebutton {
    label {
        .toggle, input[type="checkbox][disabled"] + .toggle {
            background-color: $color-toggle-disable-background;
            border-radius: 16px;
            content: "";
            display: inline-block;
            height: 32px;
            margin-right: 10px;
            transition: background 0.3s ease 0s;
            vertical-align: middle;
            width: 52px;
            border: 2px $color-toggle-disable-border solid;
        }
        -moz-user-select: none;
    }
    -moz-user-select: none;
    input, .toggle, label, input, .toggle, label, input, .toggle {
        -moz-user-select: none;
    }
    -moz-user-select: none;
    -moz-user-select: none;
    vertical-align: middle;
}

.togglebutton label {
    .toggle {
        background-color: $color-toggle-disable-background;
        border-radius: 16px;
        content: "";
        display: inline-block;
        height: 32px;
        margin-right: 10px;
        transition: background 0.3s ease 0s;
        vertical-align: middle;
        width: 52px;
    }
    input {
        &[type="checkbox][disabled"] {
            + .toggle {
                background-color: $color-toggle-disable-background;
                border-radius: 16px;
                content: "";
                display: inline-block;
                height: 32px;
                margin-right: 10px;
                transition: background 0.3s ease 0s;
                vertical-align: middle;
                width: 52px;
                &:after {
                    background-color: $color-toggle-disable-background;
                }
            }
            &:checked + .toggle:after {
                background-color: $color-toggle-disable-background;
            }
        }
        &[type=checkbox] + .toggle:active:after, &[type="checkbox][disabled"] + .toggle:active:after {
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
        }
        &[type=checkbox]:checked + .toggle {
            &:after {
                left: 20px;
            }
            background-color: $color-toggle-active-background;
            border: 2px $color-toggle-active-background solid;
        }
    }
}

.togglebutton-default label input[type=checkbox]:checked + .toggle {
    background-color: $color-toggle-active-background;
}


/************ Toggle button Section Ends*****************/


/************ Popup Modal Section starts ****************/

.confirmation-modal, .info-modal {
    z-index: 9999;
    .modal-backdrop {
        background-color: $color-modal-backdrop-background;
    }
    .modal-content {
        box-shadow: 0 0 0 0 $color-modal-box-shadow;
        background-color: $color-modal-content-background;
    }
    .modal-body {
        text-align: center;
        padding: 20px;
        word-wrap: break-word;
        .alert-icon {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        span {
            color: $color-primary-text;
            font-size: $font-size-large;
            font-family: $font-family-base;
            font-weight: $font-weight-medium;
        }
        span.warning-symbol {
            color: $color-error-text;
            margin-top: 1px;
        }
        &.text-left {
            text-align: left;
        }
        span.inline-icon {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            font-size: $font-size-very-small-2;
        }
        span.strong {
            font-weight: $font-weight-semi-bold;
        }
    }
    .modal-footer {
        padding: 0;
        border-top: 1px solid $color-primary-border;
        .confirmation-popup-single-button {
            width: 100% !important;
        }
        .btn {
            width: 50%;
            margin: 0;
            float: left;
            padding: 15px 0;
            background: none;
            border: 0px;
            border-radius: 0;
            font-size: $font-size-medium-3;
            color: $color-modal-primary-button-text;
        }
        .btn-left {
            font-weight: $font-weight-regular;
            border-right: 1px solid $color-primary-border;
        }
        .btn-default {
            font-weight: $font-weight-medium;
        }
        .btn-delete {
            color: $color-error-text;
        }
        .strong {
            font-weight: $font-weight-semi-bold;
        }
    }
}


/************ Info Dialog scss Starts *****************/

.info-modal {
    .modal-body {
        padding: 0px;
    }
    .info-dialog-header {
        .dialog-title {
            float: left;
            padding: 10px 0px 0px 20px; /*****************No need bottom margin*******************/
            font-weight: $font-weight-semi-bold;
        }
        .dialog-sub-title {
            padding-bottom: 20px;
            font-size: $font-size-medium-2;
        }
        .svg-common-universal-btn-closewindow {
            float: right;
            margin: 10px 10px 10px 20px;
        }
    }
    .info-dialog-body, .info-dialog-header {
        width: 100%;
        .info-dialog-gif, info-dialog-image {
            width: 100%;
            height: 50%;
        }
        .dialog-content {
            font-size: $font-size-medium-2;
        }
    }
    .info-dialog-body {
        padding: 20px 20px 20px 20px;
        overflow-x: hidden;
    }
}

.help-popup {
    width: 100%;
}

.help-modal {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    float: left;
    .modal-content {
        float: left;
        width: 100%;
        background: $color-primary-background;
        .modal-body {
            float: left;
            width: 100%;
        }
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}


/************ Info Dialog scss end *****************/


/************ Popup Modal Section ends ****************/


/**************Processing Loading Indicator Section Starts********/

.processing-image-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: $color-fade-in-background;
    .processing-image-container {
        color: $color-primary-button-text;
        font-size: $font-size-large;
        height: 100%;
        z-index: 9999;
        top: 40%;
        padding: 0 20px;
        width: 100%;
        position: absolute;
        .text {
            padding: 0 20px;
            font-size: $font-size-medium-2;
        }
        .sub-text {
            padding: 0 20px;
            font-size: $font-size-medium;
        }
    }
}

.spinner {
    font-size: $font-size-loader-text;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    -moz-transform-origin: center -0.2222em;
    -o-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
    -ms-animation: spinner-fade 1s infinite linear;
    -moz-animation: spinner-fade 1s infinite linear;
    -o-animation: spinner-fade 1s infinite linear;
    animation: spinner-fade 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    @include spinner-animation(0s, 0deg);
}

.spinner .spinner-blade:nth-child(2) {
    @include spinner-animation(0.083s, 30deg);
}

.spinner .spinner-blade:nth-child(3) {
    @include spinner-animation(0.166s, 60deg);
}

.spinner .spinner-blade:nth-child(4) {
    @include spinner-animation(0.249s, 90deg);
}

.spinner .spinner-blade:nth-child(5) {
    @include spinner-animation(0.332s, 120deg);
}

.spinner .spinner-blade:nth-child(6) {
    @include spinner-animation(0.415s, 150deg);
}

.spinner .spinner-blade:nth-child(7) {
    @include spinner-animation(0.498s, 180deg);
}

.spinner .spinner-blade:nth-child(8) {
    @include spinner-animation(0.581s, 210deg);
}

.spinner .spinner-blade:nth-child(9) {
    @include spinner-animation(0.664s, 240deg);
}

.spinner .spinner-blade:nth-child(10) {
    @include spinner-animation(0.747s, 270deg);
}

.spinner .spinner-blade:nth-child(11) {
    @include spinner-animation(0.83s, 300deg);
}

.spinner .spinner-blade:nth-child(12) {
    @include spinner-animation(0.913s, 330deg);
}

@include keyframes-spinner-fade(spinner-fade) {
    0% {
        background-color: $color-loader-keyframe-background;
    }
    100% {
        background-color: trasparent;
    }
}


/**************Processing Loading Indicator Section Ends ********/

.area-item:last-child .line-separator-content {
    margin-left: -15px;
}

html {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    color: $color-primary-text;
    font-size: $font-size-base;
    background: $color-body-background;
}

html, body {
    margin: 0;
    padding: 0;
}

.fixed-div {
    position: fixed;
    top: -1px;
    height: 1px;
    width: 100%;
    background: $color-primary-background;
}

body, input, button, select, option, textarea {
    font-family: $font-family-base;
}

#main {
    position: relative;
    min-height: 100%;
    cursor: default;
}

.content-container {
    overflow-x:hidden;
    position: relative;
    .content-wrapper {
        width: 100%;
        display: table;
        .contentholder {
            z-index: 11;
            float: left;
            background: transparent;
        }
    }
}

#layover-container {
    background-color: $color-body-background;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1030;
    height: 100%;
}


/***************** Header Section Starts*****************/

header {
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    // For Left to Right and Right to Left Animation
    .nav-fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1030;
    }
    // For Top to Bottom and Bottom to Top Animation
    .nav-fixed-left {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1030;
        margin-top: -15px;
    }
    nav {
        height: 45px;
        background-color: $color-header-background;
        border-bottom: 1px solid $color-primary-border;
        line-height: 45px;
        .header-first-col {
            width: 80px;
            padding-right: 0px;
            padding-left: 15px;
            height: 100%;
            float: left;
            position: relative;
        }
        .header-middle-col {
            width: 100%;
            margin-left: -80px;
            margin-right: -80px;
            padding-left: 88px;
            padding-right: 88px;
            height: 100%;
            float: left;
        }
        .header-last-col {
            width: 80px;
            padding-left: 0px;
            padding-right: 15px;
            height: 100%;
            float: right;
            position: relative;
        }
        .navbar-heading {
            height: 100%;
        }
        .navbar-heading-container {
            line-height: 45px;
            margin: 0px;
            text-align: center;
        }
        .page-title {
            font-size: $font-size-large;
            color: $color-primary-text;
            font-weight: $font-weight-semi-bold;
        }
        .no-border {
            border: none;
        }
        .reset-ln-height {
            line-height: normal;
        }
        .area-name {
            color: $color-secondary-text;
            font-size: $font-size-small-1;
            margin-top: 2px;
        }
    }
    .svg-common-universal-btn-backarrow {
        float: left;
        margin-top: 15px;
        width: 12px;
        height: 18px;
    }
}

.low-visibility-header {
    z-index: -1;
}

.header-info-icon {
    margin-top: 10px;
    float: left;
    height: 32px;
}


/***************** Header Section Ends*****************/

//sub section css
.heading {
    font-size: $font-size-large-6;
    line-height: 28px;
    color: $color-primary-text;
    font-weight: $font-weight-regular;
    padding-bottom: 5px;
}

.menu-heading {
    font-size: $font-size-large-6;
    color: $color-primary-text;
    font-weight: $font-weight-regular;
}

.menu-sub-heading {
    font-size: $font-size-medium-2;
    color: $color-primary-text;
    font-weight: $font-weight-regular;
}

.menu-item {
    font-size: $font-size-large;
    color: $color-primary-text;
    font-weight: $font-weight-regular;
}

.sub-text {
    font-size: $font-size-medium-2;
    color: $color-secondary-text;
    font-weight: $font-weight-regular;
}

.text-italic {
    font-style: italic;
}

.body-text {
    font-size: $font-size-large;
    color: $color-secondary-text;
    font-weight: $font-weight-regular;
}

.section-header {
    font-size: $font-size-medium;
    color: $color-secondary-text;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-base;
}

.sub-section {
    background: $color-primary-background;
    display: block;
    width: 100%;
    float: left;
}

//sub section css
div.link-active, a.link-active {
    @include set-link-style-all {
        color: $color-primary-link;
        text-decoration: none;
        font-size: $font-size-large;
        cursor: pointer;
        border-color: $color-primary-link;
    }
}

div.link-disable, a.link-disable {
    pointer-events: none;
    @include set-link-style-all {
        color: $color-disable-link;
        text-decoration: none;
        font-size: $font-size-large;
        border-color: $color-disable-link;
    }
}

div.svg-btn-disable {
    pointer-events: none;
}

.loader-text {
    font-size: $font-size-medium;
}

span.location-setup {
    font-size: $font-size-large;
}

.header-link {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: $font-size-medium;
    color: $color-primary-link;
    cursor: pointer; 
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.form-row {
    margin: 25px 0 0 0;
}

.left-spacing {
    padding-left: 20px;
}

.minimum-left-spacing {
    padding-left: 10px;
}

.right-spacing {
    padding-right: 20px;
}

.minimum-right-spacing {
    padding-right: 10px;
}

.top-spacing {
    margin-top: 20px;
}

.bg-gradient {
    @include bg-gradient($color-linear-gradient-background-start, $color-linear-gradient-background-end);
}

.display-none {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

/***************SVG common Section Starts ***************/

.svg-common-background {
    background-size: 29.1875em 26.4375em;
}

.svg-common-universal-btn-levelminus, .svg-common-universal-btn-levelplus, .svg-common-universal-btn-warningtriangle, .svg-common-dashboard-icon-occupancy-occupied, .svg-common-universal-btn-info, .svg-common-universal-btn-delete {
    width: 25px;
    height: 25px;
}

.svg-common-universal-btn-unselected, .svg-common-universal-btn-selectedradio {
    width: 27px;
    height: 27px;
    font-size: $font-size-medium-1;
}

.svg-common-universal-btn-unassignfixture-v1, .svg-common-universal-btn-assignfixture {
    width: 27px;
    height: 27px;
    font-size: $font-size-medium-1;
}

.svg-common-universal-btn-backarrow-disable {
    font-size: 38%;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 15px;
    float: left;
}

.svg-common-background:focus {
    outline: none;
}

.svg-common-universal-btn-cleartext {
    width: 20px;
    height: 20px;
    font-size: $font-size-large-2;
}

.svg-common-icon-cco {
    width: 22px;
    height: 13px;
    font-size: $font-size-small;
}

.svg-common-icon-light {
    width: 18px;
    height: 24px;
    font-size: $font-size-medium-3;
    margin-right: 4px;
}

.svg-common-universal-icon-sensor, .svg-common-icon-wiredsensor {
    width: 22px;
    height: 21px;
}

.svg-common-icon-receptacle {
    width: 22px;
    height: 20px;
    font-size: $font-size-medium-2;
}

.svg-common-icon-sensor {
    width: 21px;
    height: 21px;
    font-size: $font-size-large;
}

.svg-common-devices-icon-light {
    width: 36px;
    height: 55px;
    font-size: $font-size-large;
}

.svg-common-icon-question-mark {
    width: 17px;
    height: 22px;
    font-size: $font-size-medium-2;
    margin-right: 5px
}

.svg-inline {
    display: inline-block;
    vertical-align: middle;
}

.row-text {
    .svg-common-hand {
        width: 35px;
        height: 35px;
        font-size: $font-size-normal;
    }
}


/***************SVG common class Ends ***************/

.editable-row {
    width: 100%;
    .input-box-container {
        width: 100%;
    }
}

.text-fixture-item {
    font-size: $font-size-large;
    color: $color-primary-text;
    .fixture-name {
        max-width: 80%;
        display: inline-block;
        vertical-align: middle;
    }
}

.device-modal {
    .modal-content {
        float: left;
        width: 100%;
        background: $color-primary-background;
    }
    .modal-body {
        float: left;
        width: 100%;
    }
}

.slider-inner-container {
    width: 100%;
    margin-left: -47px;
    margin-right: -94px;
    padding-right: 94px;
    z-index: 0;
}

.raise-button-container {
    z-index: 1;
}

.lower-button-container {
    z-index: 1;
    padding-right: 67px;
}

.text-weak {
    color: $color-weak-password;
    font-size: $font-size-small-1;
}

.text-medium {
    color: $color-medium-password;
    font-size: $font-size-small-1;
}

.text-strong {
    color: $color-strong-password;
    font-size: $font-size-small-1;
}

.text-underline {
    text-decoration: underline;
}

.text-large {
    font-size: $font-size-large;
}

.text-wrap {
    white-space: pre-wrap;
}

.dot-icon {
    display: inline-block;
    margin-right: 5px;
}

.ok-btn {
    font-size: $font-size-large;
    padding: 10px 20px 10px 20px;
}

.flash-error-tooltip {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    top: 67px;
    right: 0px;
    background: $color-flash-error-background;
    width: 90%;
    border-radius: 5px;
    color: $color-error-text;
    font-size: $font-size-medium;
    box-shadow: 0px 0px 5px $color-guided-tooltip-outer-glow;
    font-weight: $font-weight-medium;
    z-index: 999;
    span {
        font-weight: $font-weight-medium;
        margin-bottom: 20px;
        display: block;
    }
    span.arrow-box {
        position: relative;
        background: $color-flash-error-background;
        margin-bottom: 0px;
    }
    span.arrow-box:after {
        content: '';
        height: 20px;
        width: 20px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        position: absolute;
        bottom: -13px;
        right: 20px;
        background-image: -webkit-linear-gradient(45deg, $color-flash-error-background 41%, transparent 41%, transparent);
        background-image: -moz-linear-gradient(45deg, $color-flash-error-background 41%, transparent 41%, transparent);
        background-image: -o-linear-gradient(45deg, $color-flash-error-background 41%, transparent 41%, transparent);
        z-index: 1;
        box-shadow: -2px 2px 2px $color-flash-tooltip-error-outer-glow;
        border-radius: 5px;
    }
    .error-box {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .flash-error-warning {
        margin-right: 10px;
    }
    .flash-error-message {
        line-height: 30px;
    }
}


/********************* Wheel View Starts ********************/

.wheel-content {
    width: 100%;
    float: left;
    .dwb-option {
        clear: both;
    }
    .dwwol {
        width: 100%;
        border-top: 1px solid $color-primary-border;
        border-bottom: 1px solid $color-primary-border;
        left: 0%;
    }
    .dww li {
        font-size: $font-size-large;
        color: $color-primary-text;
    }
    .dwwl {
        margin: 0 0;
    }
    .dwc {
        margin-top: 0px;
    }
    .dwhl {
        width: 100%;
    }
    .dwrc {
        width: 100%;
    }
    .android-ics .dwhl {
        padding: 0px;
    }
    .dwwc {
        padding: 0;
    }
    .selected-value {
        font-weight: $font-weight-bold;
    }
}

.wheel-selector {
    font-size: $font-size-medium-2;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    border: 1px solid $color-btn-border;
    text-align: center;
    float: right;
    min-width: 60px;
    color: $color-primary-link;
    height: 25px;
    line-height: 25px;
}

.wheel-selector.selected {
    border: 1px solid $color-primary-border;
    color: $color-secondary-text;
    pointer-events: none;
}

.wheel-content .wheel-options {
    clear: both;
}


/******************** Wheel View Ends ***********************/


/***************Common classes for the Generic Text box Starts**********/

.no-border {
    border: none;
    outline: none;
}

.input-width {
    width: 100%;
}

.input-text-box {
    padding-left: 0px;
    padding-right: 0px;
    height: 40px;
    line-height: normal;
    position: relative;
    border: 0px;
    font-size: $font-size-large;
    z-index: 1;
}

.extended-right-padding {
    padding-right: 45px;
}

.input-box-secondary-text {
    color: $color-secondary-text;
}

input[type=text]::-ms-clear {
    display: none;
}

#generic-textbox-container .popover {
    width: 300px;
}

#generic-textbox-container {
    #info-text {
        line-height:16px;
    }
}

input {
    background-color: transparent;
}

.delete-name-container {
    width: 100%;
    .input-box-container {
        position: relative;
        border-radius: 5px;
        padding-left: 5px;
        .visible-input-border {
            position: absolute;
            width: calc(100% - 20px);
            height: 100%;
            border: 1px solid $color-primary-border;
            border-radius: 5px;
            margin-left: -5px;
        }
        .extended-right-padding {
            padding-right: 60px;
        }
        .clear-input-text-icon {
            margin-left: -50px;
        }
    }
}


/***************Common classes for the Generic Text box Ends**********/


/****************Common value text-box starts*****************/

.value-text-box {
    width: 70px;
    float: right;
    border-radius: 5px;
    border: 1px solid $color-primary-border;
    height: 25px;
    line-height: 25px;
    color: $color-secondary-text;
    text-align: right;
    padding-right: 10px;
    background: $color-primary-background;
    #generic-textbox-container {
        height: 24px;
        line-height: 24px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #left-container {
        padding-right: 0px;
        padding-left: 0px;
        #textbox-container {
            padding-right: 0px;
            padding-left: 0px;
            .input-text-box {
                height: 24px;
                text-align: right;
            }
        }
    }
}

.clear-input-text-icon {
    margin-left: -30px;
    margin-top: 10px;
    z-index: 0;
}


/****************Common value text-box ends*****************/


/***************Common Generic Class Section Ends************/


/***************BootStrap Slider overriding classes starts************/

.slider.slider-horizontal {
    margin-top: 7px;
}


/***************BootStrap Slider overriding classes ends************/


/***************Overlay progress classes starts************/

.progress {
    background-color: $color-progress-background;
    width: 100%;
    height: 8px;
    border-radius: 4px;
}

.progress-bar {
    background-color: $color-progress-bar;
    height: 4px;
    margin: 2px;
    border-radius: 2px;
}

.overlay-fade-in {
    .progress {
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 8px;
        border-radius: 4px;
    }
    .progress-bar {
        height: 4px;
        margin: 2px;
        border-radius: 2px;
    }
}

.conditional-break-line {
    display: none;
}


/***************Overlay progress classes ends************/


/*****************Modal media query for IPad****************/

@media screen and (min-width: 768px) {
    .confirmation-modal {
        .modal-dialog {
            width: 286px;
        }
    }
    .conditional-break-line {
        display: block;
    }
}


/********************* Dropdown View Starts ********************/

.dropdown-list-view ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
        float: left;
        width: 100%;
    }
    .select-icon {
        width: 40px;
    }
    .list-item-content {
        width: calc(100% -40px);
    }
}


/********************* Dropdown View Ends ********************/


/****************Common flash button Starts***********/

.flash-btn {
    border: 1px solid $color-btn-border;
    border-radius: 5px;
    height: 25px;
    min-width: 59px;
    text-align: center;
    line-height: 23px;
    padding-left: 3px;
    padding-right: 3px;
    a {
        @include set-link-style-all {
            font-size: $font-size-medium;
            text-decoration: none;
        }
    }
}

.flash-btn:hover {
    text-decoration: none;
}

.flash-btn-filled {
    @extend .flash-btn;
    background-color: $color-flash-filled;
}

.flash-disable {
    @extend .flash-btn;
    border: 1px solid $color-primary-border;
}

.stop-btn {
    @extend .flash-btn;
    border: 1px solid $color-error-btn-border;
    color: $color-error-text;
    a {
        @include set-link-style-all {
            font-size: $font-size-medium;
            text-decoration: none;
        }
    }
}

.stop-btn:hover {
    text-decoration: none;
}

.text-stop-btn {
    color: $color-error-text;
}

.identify-text-align {
    width: 100%;
    float: left;
}


/****************Common flash button ends***********/


/****************Common modal starts***********/

.modal {
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 93%;
    margin: 0;
}

.modal-content {
    float: left;
    width: 100%;
}

.modal-content-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-body {
    width: 100%;
}


/****************Common modal ends***********/

.row-reset-ln-height {
    line-height: normal;
}

.bottom-spacing {
    margin-bottom: 5px;
}


/****************Commom Question mark button starts**************/

.svg-common-universal-btn-questionmark {
    width: 27px;
    height: 27px;
    font-size: $font-size-large-1;
}


/****************Commom Question mark button ends**************/


/****************Classes for Help popup on password policy Starts************/

.popover {
    border-radius: 5px;
    box-shadow: 0px 0px 4px $color-popover-box-shadow;
    z-index: 100;
        .popover-content {
            padding: 0px;
        }
        .flash-popover-container{
            width:220px;
            .menu-item {
                white-space: normal;
            }
        }
}


/****************Classes for Help popup on password policy Ends************/


/****************Common cursor classes start******************/

.cursor-pointer {
    cursor: pointer;
}

.no-cursor {
    cursor: default;
}


/****************Common cursor classes stop*******************/

.sensor-connection-info, .warning-icon-info {
    width: 18px;
    height: 18px;
    font-size: $font-size-normal;
    margin-top: 3px;
}

.sensor-connection-info-container, .warning-icon-info-container {
    padding-left: 5px;
}

.sensor-connection-message {
    font-size: $font-size-small-2;
    color: $color-warning-text;
}

.name-container {
    max-width: calc(100% - 30px);
    display: inline-block;
    width: auto;
}

.sensor-confirm-popup {
    margin: 0 auto;
    background: $color-primary-background;
    width: 100%;
    border-radius: 5px;
    border: 1px $color-confirm-popup-border solid;
    color: $color-primary-text;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    z-index: 999;
    padding: 15px 0;
    .svg-common-universal-btn-warning-circle {
        margin-right: 15px;
    }
}

.control-item-image-container {
    float: left;
    text-align: center;
    .svg-common-icon-receptacle {
        width: 55px;
        height: 45px;
        font-size: $font-size-extra-large;
        margin-top: 5px;
    }
    .svg-common-icon-cco {
        width: 55px;
        height: 37px;
        font-size: $font-size-very-large-3;
        margin-top: 7px;
    }
    .svg-common-icon-light {
        width: 40px;
        height: 55px;
        font-size: $font-size-extra-large;
    }
    .svg-common-universal-icon-sensor {
        width: 55px;
        height: 55px;
        font-size: $font-size-extra-large;
    }
    .svg-common-icon-wiredsensor {
        width: 55px;
        height: 55px;
        font-size: $font-size-extra-large;
    }
    .svg-common-icon-sensor {
        width: 55px;
        height: 55px;
        font-size: $font-size-extra-large;
    }
}

.sensor-connection-info-container {
    padding-left: 10px;
}

.name-container {
    max-width: calc(100% - 30px);
    display: inline-block;
    width: auto;
}

.warning-info {
    background: $color-flash-error-background;
    float: left;
    width: 100%;
    height: 80px;
    .warn-icon, info-icon {
        width: 27px;
        height: 27px;
    }
}

.minimum-warning-info{
    min-height: 80px;
    height: auto;
}

.show-long-name {
    word-wrap: break-word;
}


/********** Info tool tip starts***************/

.tooltip-info-popup {
    position: relative;
    float: left;
    width: 100%;
    .tooltip-container {
        position: absolute;
        margin: 0 auto;
        left: 10px;
        top: 80px;
        background: $color-primary-background;
        width: 94%;
        border-radius: 10px;
        color: $color-primary-text;
        font-size: $font-size-medium;
        box-shadow: 0px 0px 5px $color-guided-tooltip-outer-glow;
        font-weight: $font-weight-medium;
        z-index: 999;
        max-width: 370px;
        span {
            font-weight: $font-weight-medium;
            margin-bottom: 20px;
            display: block;
        }
    }
    span.arrow_box {
        position: relative;
        background: $color-primary-background;
        margin-bottom: 0px;
    }
    span.arrow_box:after {
        content: '';
        height: 20px;
        width: 20px;
        @include rotate(135deg);
        position: absolute;
        bottom: -13px;
        @include gradient-arrow(45deg, $color-primary-background 41%, transparent 41%, transparent);
        z-index: 1;
        box-shadow: -2px 2px 2px $color-flash-tooltip-error-outer-glow;
        border-radius: 5px;
    }
    .info-box {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .tooltip-btn {
        width: 60px;
    }
    .tooltip-info-text {
        border-right: 1px solid $color-primary-border;
    }
    .manually-programmed-device-text {
        font-size: $font-size-medium;
        color: $color-secondary-text;
        font-weight: $font-weight-regular;
    }
}


/********** Info tool tip ends***************/

.check-box {
    height: 24px;
    width: 24px;
    font-size: $font-size-normal;
    .svg-common-universal-icon-checkmark-blue {
        font-size: $font-size-small-2;
        height: 13px;
        width: 14px;
        margin-left: 4px;
        margin-top: 5px;
    }
}

.check-box-value {
    font-size: $font-size-medium-2;
    color: $color-primary-text;
}


/*******************Common popover starts************/

.popover-container {
    display: inline-block;
}


/******************* common popover ends ************/

.mobile-text-hide {
    display: inline;
}

@media screen and (max-device-width: 375px) {
    .mobile-text-hide {
        display: none;
    }
}

.vertical-align-top {
    vertical-align: top;
}


/******* fixed body if pop over is visible *****/

body.modal-shown {
    position: fixed;
    overflow: hidden;
}

.help-animation {
    .info-dialog-header {
        .dialog-title {
            padding: 15px 0px 15px 20px;
        }
    }
    .info-dialog-body {
        .dialog-help-text, .sub-text {
            line-height: 22px;
        }
    }
    .info-dialog-body {
        padding: 0px 15px 10px 20px;
    }
}


/************ System disconnected screen ************/

.system-disconnected {
    width: 100%;
    min-height: 480px;
    margin-top: 25px;
    .alert-icon-row {
        width: 39px;
        height: 39px;
        margin: 0 auto;
    }
    .system-disconnected-label {
        font-size: $font-size-large-7;
        color: $color-warning-text;
    }
    .disconnection-sub-text {
        font-size: $font-size-medium-2;
        color: $color-disabled-button-text;
    }
    .head-items {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .below-spacing {
        margin-bottom: 10px;
    }
}

.step-dot {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: $color-primary-text;
    margin: 7px 10px 0 10px;
}

.step-no {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: $font-size-large;
    color: $color-primary-text;
    border: 1px solid $color-primary-text;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
}

.small-line-height {
    line-height: 18px;
}

.right-arrow-container{
    width: 20px;
}

.icon-container{
    width: 27px;
}

.on-off-button-container-es , .on-off-button-container-fr {
    .on-button-container{
        min-width: 100px;
    }   
}

@media screen and (min-width: 768px) {
    .on-off-button-container-es , .on-off-button-container-fr{
        .on-button-container{
            margin-right: calc(100% - 78%);
        }
    }
}

@media screen and (max-width: 768px) {
    .on-off-button-container-es , .on-off-button-container-fr{
        .on-button-container{
            margin-right: calc(100% - 88%);
        }
    }
}

@media screen and (max-width: 480px) {
    .on-off-button-container-es , .on-off-button-container-fr{
        width: 60%;
        .minimum-top-spacing , .cco-minimum-top-spacing {
            padding-top: 10px;
        }
    }
    .on-off-button-container-en{
        width: 60%;
        .cco-minimum-top-spacing {
            padding-top: 10px;
        }
    }
    .unaffected-button-container{
        width: 40%;
    }
}

@media screen and (max-width: 375px) {
    .on-off-button-container-en , .on-off-button-container-es , .on-off-button-container-fr{
        width: 50%;
    }
    .unaffected-button-container{
        width: 50%;
    }
}

.wheeler-right-container{
    min-width: 70px;
}

.assigned-fixture-tooltip-container{
    width:auto;
    padding:10px;
    border:1px solid $color-flash-tooltip-error-outer-glow;
    display:inline-table;
    position: fixed;
    left:50%;
    background:$color-primary-button-text;
    border-radius: 5px;
    font-size: 18px;
    top:50px;
    transform: translateX(-50%);
    z-index: 999;
}

/*** Visibility ***/


.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}