/*******Common classes Starts*******/

.sub-section {
    background: $color-primary-background;
    display: block;
    width: 100%;
    float: left;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.info-input-box {
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    min-width: 50%;
    border: 1px solid gray;
    text-decoration: none;
    outline-style: none;
}


/*******Common classes Ends*******/


/***************** Header Section Starts*****************/

header {
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    // For Left to Right and Right to Left Animation
    .nav-fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1030;
    }
    // For Top to Bottom and Bottom to Top Animation
    .nav-fixed-left {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1030;
        margin-top: -15px;
    }
    nav {
        height: 45px;
        background-color: $color-header-background;
        border-bottom: 1px solid $color-primary-border;
        line-height: 45px;
        .header-first-col {
            width: 80px;
            padding-right: 0px;
            padding-left: 15px;
            height: 100%;
            float: left;
            position: relative;
        }
        .header-middle-col {
            width: calc(100% - 160px);
            height: 100%;
            float: left;
        }
        .header-last-col {
            width: 80px;
            padding-left: 0px;
            padding-right: 15px;
            height: 100%;
            float: right;
            position: relative;
        }
        .navbar-heading {
            height: 100%;
        }
        .navbar-heading-container {
            line-height: 45px;
            margin: 0px;
            text-align: center;
        }
        .page-title {
            font-size: $font-size-large;
            color: $color-primary-text;
            font-weight: $font-weight-semi-bold;
        }
        .no-border {
            border: none;
        }
        .reset-ln-height {
            line-height: normal;
        }
        .area-name {
            color: $color-secondary-text;
            font-size: $font-size-small-1;
            margin-top: 2px;
        }
    }
    .svg-common-universal-btn-backarrow {
        float: left;
        margin-top: 15px;
        width: 12px;
        height: 18px;
    }
}

.low-visibility-header {
    z-index: -1;
}

.header-info-icon {
    margin-top: 10px;
    float: left;
    height: 32px;
}


/***************** Header Section Ends*****************/


/*************Space containers Starts***********/

.space-container {
    min-height: 40px;
    float: left;
    width: 100%;
}

.component-space-container {
    height: 20px;
    width: 100%;
    float: left;
}

.row-space-container {
    height: 10px;
    width: 100%;
    float: left;
}

.small-space-container {
    height: 5px;
    width: 100%;
    float: left;
}


/************Space Containers Ends*******/


/******Girvi Selection Related classes Starts*******/

.search-box-container {
    height: 40px;
    width: 100%;
    padding-top: 5px;
    .search-box {
        border-radius: 5px;
        border: 1px solid gray;
        height: 30px;
        text-decoration: none;
        outline-style: none;
        padding-left: 5px;
    }
}

.show-villages-datalist-container {
    display: block;
    float: left;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}

.normal-row-item {
    height: 30px;
    line-height: 30px;
}


/******Girvi Selection Related classes Ends*******/


/*******left , Right Spacing classes Starts********/

.left-spacing {
    padding-left: 20px;
}

.minimum-left-spacing {
    padding-left: 10px;
}

.right-spacing {
    padding-right: 20px;
}

.minimum-right-spacing {
    padding-right: 10px;
}


/*******left , Right Spacing classes Ends********/


/*******line separator Starts*******/

.line-separator {
    width: 100%;
    float: left;
    .line-separator-content {
        background: $color-primary-border;
        height: 1px
    }
    .line-separator-content-inner {
        background: $color-primary-border;
        height: 1px;
        margin-left: 20px;
    }
}


/*******line separator ends *******/


/*******Button Classes Starts********/

.submit-button {
    height: 30px;
    line-height: normal;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    background: lightgreen;
}


/*******Button Classes ends********/