<div class="space-container"></div>
<div class="line-separator">
    <div class="line-separator-content"></div>
</div>
<div id='fn-girvi-selector' class="fn-girvi-container search-box-container sub-section left-spacing right-spacing">
    <input id="search-girvi-textbox" placeholder="{{searchGirviWatermark}}" class="search-box col-xs-12 no-padding" />
</div>
<div class="line-separator">
    <div class="line-separator-content"></div>
</div>
<div class="component-space-container"></div>
<div class='col-xs-12 text-left left-spacing right-spacing'>
    <div class="col-xs-4 no-padding">NAME</div>
    <div class="col-xs-3 no-padding">DATE</div>
    <div class="col-xs-3 no-padding">AMOUNT</div>
    <div class="col-xs-2 no-padding"></div>
</div>
<div class="small-space-container"></div>
<div class="line-separator">
    <div class="line-separator-content"></div>
</div>
<div class=' fn-girvi-list-item-container sub-section'></div>