<div class="space-container"></div>
<div>
    <div class="line-separator">
        <div class="line-separator-content"></div>
    </div>
    <div class="left-spacing right-spacing sub-section village-selector-container">
        <select id="fn-village-selector" class="select-village">
            <option disabled selected value style="display:none"> -- Select a Village -- </option>
            {{#each villageList}}
                <option value={{@key}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="line-separator">
        <div class="line-separator-content"></div>
    </div>
</div>
<div class="fn-girvi-list-container"></div>