<div class="row normal-row-item">
    <div class="col-xs-2 item-name">
        <span>Name : </span>
        <span class="readonly-field">{{item.name}}</span>
        <input type="text" class="editable-field info-input-box hide" name="name" {{#if item.name}}value={{item.name}}{{/if}} />
    </div>
    <div class="col-xs-2 item-weight">
        <span>Weight : </span>
        <span class="readonly-field">{{item.weight}}</span>
        <input type="text" class="editable-field info-input-box hide" name="weight" {{#if item.weight}}value={{item.weight}}{{/if}} />
    </div>
    <div class="col-xs-5 item-notes">
        <span>Notes : </span>
        <span class="readonly-field">{{item.notes}}</span>
        <input type="text" class="editable-field info-input-box hide" name="notes" {{#if item.notes}}value={{item.notes}}{{/if}} />
    </div>
    <div class="col-xs-1">
        <div class="edit-item-options fr">
            <a href="javascript:void(0)" class="fn-lnk-edit-item lnk-edit">Edit</a>
        </div>
        <div class="save-item-options save-cancel-lnks fr hide">
            <a href="javascript:void(0)" class="fn-lnk-cancel-item-changes lnk-cancel">Cancel</a>
            <a href="javascript:void(0)" class="fn-lnk-save-item-changes lnk-save">Save</a>
        </div>
    </div>
    <div class="col-xs-2 pull-right">
        <div class="right-spacing">
            <a href="javascript:void(0)" class="fn-lnk-remove-item fr">Remove</a>
        </div>
    </div>
</div>